.container{
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #eeaeca, #94bbe9);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.guid-app{
  background-color: rgba(255, 255, 255, 0.61);
  width: 90vw;
  max-width: 30em;
  padding: 2em 2.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  border-radius: 0.62em;
  box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}

.search-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-wrapper button{
  font-size: 1em;
  background: linear-gradient(135deg, #94bbe9, #eeaeca);
  color: #ffffff;
  padding: 15px 25px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.search-wrapper input{
  width: 70%;
  font-size: 1em;
  padding: 0 0.62em;
  border: none;
  border-bottom: 2px solid #94bbe9;
  outline: none;
  color: #222a43;
  background-color: transparent;
}

#result{
  margin-top: 1.5em;
}
.guid-app .flag-img{
  display: block;
  width: 45%;
  min-width: 7.5em;
  margin: 1.8em auto 1.2em auto;
}

.guid-app h2{
  font-weight: 600;
  color: #222a43;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.8em;
}

.data-wrapper{
  margin-top: 1em;
  letter-spacing: 0.3px;
}

.guid-app h4{
  display: inline;
  font-size: 17px;
  font-weight: 600;
  color: #222a43;
}
.guid-app span{
 color: #5d6274;
}

.guid-app h3{
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  color: red;
}


/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 768px) {
  .guid-app {
    padding: 20px 20px;
  }
  .search-wrapper button {
    padding: 15px 25px;
    border-radius: 5px;
  }
  .guid-app .flag-img {
    width: 30%;
    min-width: 5.5em;
    margin: 1em auto 1.2em auto;
  }
  .guid-app h2 {
    margin-bottom: 1.2rem;
  } 
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .container{
    padding: 5px;
  }
  .guid-app {
    padding: 15px 15px;
  }
  .search-wrapper input {
    font-size: 16px;
  }
  .search-wrapper button {
    padding: 10px 10px;
    border-radius: 5px;
  }
  .guid-app .flag-img {
    width: 30%;
    min-width: 5.5em;
    margin: 2em auto 1.2em auto;
  }
  .guid-app h4 {
    font-size: 15px;
  }
  .guid-app h2 {
    margin-bottom: 1.4em;
  } 
}
